/*Body*/

body
{
    width: 980px;
    display: flex;
    border: silver 1px solid;
}

/*Partie de liseret*/
#liseret
{
    width: 300px;
    background-color: #FFC107;
    overflow-wrap: break-word;
    
}

#liseret header img
{
    justify-content: center;
    width: 250px;  
}

#liseret h2
{
    text-transform: uppercase;
    background-color: black;
    color: #FFC107;
    padding: 5px;
    text-align: center;
}
#liseret section span:nth-child(1n), #liseret section address:nth-child(2n+1),#liseret section p:nth-child(1n)
{
    margin-left:30px;
}
#liseret section p:nth-child(2)
{
    text-align: justify;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 110px;
}
#liseret section img
{
    padding-top: 10px;
    display: inline-flex;   
}

/*----------------Contenu du CV----------------*/
#main
{
    padding: 20px;
    margin: 0px;
    
}
#main header
{
    margin-bottom: 100px;
}
header span
{
    color: #FFC107;
}
u
{
    text-decoration: #FFC107 underline;
}
#main section:nth-child(2)
{
    margin-bottom: 20px;
}

hr
{
    width: auto;
    
    border: 1px solid #FFC107;
    
}
thead:nth-child(odd)
{
    font-size: 0.7em;
    color:black;
    text-align: left;
}
th:nth-child(2)
{
    width: 180px;
}
thead img:nth-child(1)
{
    margin-right: 15px;
}
thead img:last-child
{
    width: 10px;
}
table img[alt="cercle"]
{
    width: 20px;
}
thead span
{
    color: black;
    font-size: large;
    text-align: left;
    
}

table
{
    margin-top: 30px;
}
tbody td
{
    text-align: justify;
}


section div
{
    display: flex;
}
section div img
{
    width: 30px;
}
/*---------------------Bas de page footer---------------------*/
section div h2,footer #bas_de_page h2
{
    margin-left: 20px;
}
footer #bas_de_page
{
    display: flex;
    padding-top: 60px;
    
}
#recommandation
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-right: 50px;
    text-align: justify;
    line-height: 0.5em;
}

/*--------------------------Media query responsive design ----------------*/

@media screen and (max-width: 480px){
    
}

/*Règles CSS pour les appareils*/

/*--------------------------Media query responsive design ----------------*/

@media all and (max-width: 480px){
    body 
    {
        display: block;
        overflow-wrap: break-word;
        margin: 0px;
        margin-right: 0px;
        width: auto;
        height: auto;
    }
    #liseret header img
    {
    justify-content: center;
    width: 60%;  
    }
   #liseret, #main
   {
       width: auto;
       text-align: center;
   }
   #liseret h2
    {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #FFC107;
    padding: 5px;
    }
    #recommandation
    {
    display: block;
    padding-top: 10px;
    text-align: center;
    }
}

/*Règles CSS pour les appareils*/
@media screen and (min-width: 481px) and (max-width:980px){
    
    body 
    {
        display: flex;
        overflow-wrap: break-word;
        width: auto;
        height: auto;
    }
    #liseret header img
    {
    justify-content: center;
    width: 60%;  
    }
   #liseret
   {
       width: 25%;
       text-align: center;
   }
   #liseret h2
    {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #FFC107;
    padding: 5px;
    }
    #recommandation
    {
    display: flex;
    flex-direction: column;
    text-align: center;
    }
}
@media all and (min-width: 981px){
    
    #recommandation
    {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    
    }
    body 
    {
        width: auto;
        margin-left: 150px;
        margin-right: 50px;
    }
    
}
@media screen and (orientation: landscape){

}